<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% if (user) { %>
      <p>Welcome to <%= title %>, <%= user.username %></p>
    <% } else { %>
      <p>Welcome to <%= title %>. You are not Logged in</p>
    <% } %>

<!-- Test -->
<!-- 
  <form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="image">
    <button type="submit">Upload</button>
  </form>
 -->
 <!-- <form id="contactform" action="https://formsubmit.io/send/omarhadidi20062006@gmail.com" method="POST">
  <input name="_redirect" type="hidden" id="name" value="http://localhost:3000/">
  <input name="name" type="text" placeholder="name" id="name" required>
  <input name="email" type="email" placeholder="email" id="email" required>
  <textarea name="comment" id="comment" placeholder="ur message"></textarea>

  <input name="_formsubmit_id" type="text" style="display:none">

  <input value="Submit" type="submit">
</form> -->

  </body>
</html>
